In [64]:
import pandas as pd

In [65]:
df = pd.read_csv('EURUSD1.csv')

In [66]:
df.tail()

         1971.01.04  00:00  0.53690  0.53690.1  0.53690.2  0.53690.3    1
7726500  2020.06.25  13:40  1.12197    1.12203    1.12176    1.12184  234
7726501  2020.06.25  13:41  1.12185    1.12194    1.12158    1.12166  302
7726502  2020.06.25  13:42  1.12167    1.12181    1.12164    1.12167  307
7726503  2020.06.25  13:43  1.12167    1.12167    1.12156    1.12160  199
7726504  2020.06.25  13:44  1.12161    1.12166    1.12160    1.12162   83

In [67]:
df.rename( columns={ '1971.01.04':'date', '00:00':'time' , '0.53690':'open', '0.53690.1':'high', '0.53690.2':'low', '0.53690.3':'close', '1':'volume' }, inplace=True )

In [68]:
df['datetime'] = df['date'] + ' ' + df['time']

In [69]:
df['datetime'] = pd.to_datetime( df['datetime'], format='%Y.%m.%d %H:%M' )

In [70]:
df = df[ ['datetime', 'time', 'open', 'high', 'low', 'close'] ]

In [71]:
df = df[['datetime', 'open', 'high', 'low', 'close']]

In [72]:
df['date'] = pd.to_datetime(df['datetime']).dt.date

In [73]:
df['hour'] = pd.to_datetime(df['datetime']).dt.hour

In [74]:
df.set_index('datetime', inplace=True)

In [75]:
df_7yrs = df['2013':'2020']

In [76]:
df_7yrs

                        open     high      low    close        date  hour
datetime
2013-01-01 23:00:00  1.32036  1.32041  1.32007  1.32026  2013-01-01    23
2013-01-01 23:01:00  1.32026  1.32042  1.32024  1.32042  2013-01-01    23
2013-01-01 23:02:00  1.32041  1.32042  1.32041  1.32042  2013-01-01    23
2013-01-01 23:03:00  1.32042  1.32042  1.32001  1.32021  2013-01-01    23
2013-01-01 23:04:00  1.32002  1.32002  1.32002  1.32002  2013-01-01    23
...                      ...      ...      ...      ...         ...   ...
2020-06-25 13:40:00  1.12197  1.12203  1.12176  1.12184  2020-06-25    13
2020-06-25 13:41:00  1.12185  1.12194  1.12158  1.12166  2020-06-25    13
2020-06-25 13:42:00  1.12167  1.12181  1.12164  1.12167  2020-06-25    13
2020-06-25 13:43:00  1.12167  1.12167  1.12156  1.12160  2020-06-25    13
2020-06-25 13:44:00  1.12161  1.12166  1.12160  1.12162  2020-06-25    13

[2773716 rows x 6 columns]

In [77]:
df_7yrs.to_csv('eurusd_m1_2013_2020.csv')