In [86]:
import pandas as pd
df_H1 = pd.read_csv('eurusd_h1_2013_2020.csv')
df_m1 = pd.read_csv('eurusd_m1_2013_2020.csv')

In [87]:
df_H1.head()

,datetime,close_change_%,ema50_delta_%,ema21_delta_%,open,high,low,close,date,hour
0,2013-01-02 00:00:00,-0.059824,-0.057513,-0.054418,1.32049,1.32073,1.31866,1.31974,2013-01-02,0
1,2013-01-02 01:00:00,0.068953,0.010984,0.013204,1.31972,1.32124,1.31916,1.32065,2013-01-02,1
2,2013-01-02 02:00:00,0.506569,0.494750,0.470139,1.32067,1.32767,1.32065,1.32734,2013-01-02,2
3,2013-01-02 03:00:00,0.150677,0.619184,0.563530,1.32734,1.32992,1.32706,1.32934,2013-01-02,3
4,2013-01-02 04:00:00,-0.059428,0.538124,0.458547,1.32934,1.32961,1.32747,1.32855,2013-01-02,4

In [88]:
df_m1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2773716 entries, 0 to 2773715
Data columns (total 7 columns):
 #   Column    Dtype
---  ------    -----
 0   datetime  object
 1   open      float64
 2   high      float64
 3   low       float64
 4   close     float64
 5   date      object
 6   hour      int64
dtypes: float64(4), int64(1), object(2)
memory usage: 148.1+ MB

In [89]:
filt = ( df_m1['datetime']==df_H1['datetime'][0] )
matched_index_m1 = df_m1.loc[filt].index.tolist()[0]

In [90]:
matched_index_m1

60

In [91]:
df_H1['datetime'][0]

'2013-01-02 00:00:00'

In [92]:
df_m1.head()

              datetime     open     high      low    close        date  hour
0  2013-01-01 23:00:00  1.32036  1.32041  1.32007  1.32026  2013-01-01    23
1  2013-01-01 23:01:00  1.32026  1.32042  1.32024  1.32042  2013-01-01    23
2  2013-01-01 23:02:00  1.32041  1.32042  1.32041  1.32042  2013-01-01    23
3  2013-01-01 23:03:00  1.32042  1.32042  1.32001  1.32021  2013-01-01    23
4  2013-01-01 23:04:00  1.32002  1.32002  1.32002  1.32002  2013-01-01    23

In [93]:
df_m1['datetime'] = pd.to_datetime(df_m1['datetime'])

In [94]:
type(df_m1['datetime'])

pandas.core.series.Series

In [95]:
df_m1.iloc[2]['datetime'].hour

23

In [96]:
type(df_H1['datetime'])

pandas.core.series.Series

In [97]:
df_H1['datetime'] = pd.to_datetime(df_H1['datetime'])

In [98]:
type(df_m1.iloc[0]['datetime'].year)

int

In [99]:
filt = ( df_H1['datetime']=='2013-01-03 23:00:00' )
matched_index_H1 = df_H1.loc[filt].index.tolist()[0]

In [100]:
matched_index_H1

47

In [101]:
df_m1['date'] = pd.to_datetime(df_m1['datetime']).dt.date

In [102]:
df_m1['hour'] = pd.to_datetime(df_m1['datetime']).dt.hour

In [103]:
type(df_m1['date'])

pandas.core.series.Series

In [104]:
df_m1.head(61)

              datetime     open     high      low    close        date  hour
0  2013-01-01 23:00:00  1.32036  1.32041  1.32007  1.32026  2013-01-01    23
1  2013-01-01 23:01:00  1.32026  1.32042  1.32024  1.32042  2013-01-01    23
2  2013-01-01 23:02:00  1.32041  1.32042  1.32041  1.32042  2013-01-01    23
3  2013-01-01 23:03:00  1.32042  1.32042  1.32001  1.32021  2013-01-01    23
4  2013-01-01 23:04:00  1.32002  1.32002  1.32002  1.32002  2013-01-01    23
..                 ...      ...      ...      ...      ...         ...   ...
56 2013-01-01 23:56:00  1.32128  1.32128  1.32113  1.32113  2013-01-01    23
57 2013-01-01 23:57:00  1.32113  1.32113  1.32093  1.32093  2013-01-01    23
58 2013-01-01 23:58:00  1.32091  1.32091  1.32042  1.32057  2013-01-01    23
59 2013-01-01 23:59:00  1.32056  1.32056  1.32032  1.32053  2013-01-01    23
60 2013-01-02 00:00:00  1.32049  1.32073  1.32038  1.32071  2013-01-02     0

[61 rows x 7 columns]

In [105]:
m1_source_date = df_m1['date'][60].strftime('%Y-%m-%d')
m1_source_date

'2013-01-02'

In [106]:
m1_source_hour = df_m1['hour'][60]
m1_source_hour

0

In [107]:
df_H1['date'] = pd.to_datetime(df_H1['datetime']).dt.date

In [108]:
df_H1['hour'] = pd.to_datetime(df_H1['datetime']).dt.hour

In [119]:
df_H1.head()

,datetime,close_change_%,ema50_delta_%,ema21_delta_%,open,high,low,close,date,hour
0,2013-01-02 00:00:00,-0.059824,-0.057513,-0.054418,1.32049,1.32073,1.31866,1.31974,2013-01-02,0
1,2013-01-02 01:00:00,0.068953,0.010984,0.013204,1.31972,1.32124,1.31916,1.32065,2013-01-02,1
2,2013-01-02 02:00:00,0.506569,0.494750,0.470139,1.32067,1.32767,1.32065,1.32734,2013-01-02,2
3,2013-01-02 03:00:00,0.150677,0.619184,0.563530,1.32734,1.32992,1.32706,1.32934,2013-01-02,3
4,2013-01-02 04:00:00,-0.059428,0.538124,0.458547,1.32934,1.32961,1.32747,1.32855,2013-01-02,4

In [118]:
df_m1.head()

             datetime     open     high      low    close        date  hour
0 2013-01-01 23:00:00  1.32036  1.32041  1.32007  1.32026  2013-01-01    23
1 2013-01-01 23:01:00  1.32026  1.32042  1.32024  1.32042  2013-01-01    23
2 2013-01-01 23:02:00  1.32041  1.32042  1.32041  1.32042  2013-01-01    23
3 2013-01-01 23:03:00  1.32042  1.32042  1.32001  1.32021  2013-01-01    23
4 2013-01-01 23:04:00  1.32002  1.32002  1.32002  1.32002  2013-01-01    23

In [110]:
filt = ( df_H1['date']==df_m1['date'][60] ) & ( df_H1['hour']==df_m1['hour'][60] )
matched_index_H1 = df_H1.loc[filt].index.tolist()[0]
matched_index_H1

0

In [114]:
import numpy as np
prices = np.linspace(df_m1.iloc[-1]['open'], df_m1.iloc[-1]['high'], 18)

In [117]:
prices[17]

1.12166

In [122]:
#H1_date = df_H1['date'][1] # TESTED
#H1_hour = df_H1['hour'][1] 
filt = ( df_m1['date']==df_H1['date'][1] ) & ( df_m1['hour']==df_H1['hour'][1] )
index_m1 = df_m1.loc[filt].index.tolist()[0] 
index_m1

120